In [39]:
import pandas as pd
from datetime import datetime

In [51]:
file_path ='asset_register.xlsx'

df = pd.read_excel(file_path)
df=df[['Financial Year','Asset Code','Purchase date','Sl ','Bill no','Economic Code','Category','Name of Item','Brand Name','Model/Type','Units','Modified Number','Price','Sold (unit)','Cost of Assets Sold','Current Balance']]
df[['Cost of Assets Sold']]=df[['Cost of Assets Sold']].fillna(0)
df['Current Balance']=df['Price']-df['Cost of Assets Sold']
years=df['Financial Year'].drop_duplicates()
current_year=datetime.now()
print(current_year.year)
list_of_years={}
for i in years:
    d=i.split('-')
    list_of_years[f'{i}']=int(d[1])
for i in list_of_years:
    df[i]=0
print(list_of_years[1])

2024

KeyError: 1

In [63]:
df=df[['Financial Year','Asset Code','Purchase date','Sl ','Bill no','Economic Code','Category','Name of Item','Brand Name','Model/Type','Units','Modified Number','Price','Sold (unit)','Cost of Assets Sold','Current Balance']]